

<%- include('../partials/boilerplate') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
    <main class="main">
        <div class="section-title">Edit Card</div>
        <div class="main-content">
            <form action="/library/edit/<%= `${user.id}/${movie.id}` %>" method="POST">
                Movie Name:<input type="text" name="name" value="<%= `${movie.name}` %>"><br>
                Year of Release:<input type="text" name="year" value="<%= `${movie.year}` %>"><br>
                IMDB ID:<input type="text" name="imdbnum" value="<%= `${movie.Imdb.imdbnum}` %>"><br>
                Location:<select name="location_id" >
                    <% for (let i = 0; i < locations.length; i++) { %>
                        <% if (movie.Location.id === locations[i].id) { %>
                            <option value="<%= locations[i].id%>" selected><%= locations[i].name %></option>
                        <% } else { %>
                            <option value="<%= locations[i].id%>"><%= locations[i].name %></option>
                            <% } %>
                    <% } %>
                </select><br>                 
                <input type="submit" name="" id="" value="Update Card" class="myButton">
            </form>
            <form action="/library/edit/<%= `${user.id}/${movie.id}` %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="myButton">
            </form>
            <div>
                <p>IMDB ID# is required to pull additional movie info. It can be obtained from <a href="https://www.imdb.com/" target="_blank">www.IMDB.com</a> URL. <br>
                For example in https://www.imdb.com/title/tt4189022/, tt4189022 is the ID#. </p>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>
 