<%- include('../partials/boilerplate') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
    <main class="main">
        <div class="section-title"><%= `${dvdList[0].User.name}'s Complete Library`%></div>
        <div class="main-content"> 
            <% for (i=0; i < dvdList.length; i++) { %>
                
                <div><%= `${dvdList[i].name} -- ${dvdList[i].year} -- ${dvdList[i].Imdb.imdbnum}` %></div>
            <% } %>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>