<%- include('../partials/boilerplate') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
    <main class="main">
        <div class="section-title">Location Manager</div>
        <div class="main-content"> 
            <% for (i=0; i < locations.length; i++) { %>
                <form action="/library/loc/<%= `${user.id}/${locations[i].id}` %>?_method=PUT" method="POST">
                    <input type="text" name="name" value="<%= `${locations[i].name}` %>">
                    <input type="submit" value="Edit">
                </form>
                <!-- <form action="/library/loc/<%= `${user.id}/${locations[i].id}` %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete <%= `${locations[i].name}` %>">
                </form> -->
            <% } %>
            
            <form action="/library/loc/<%= `${user.id}` %>" method="POST">
                <input type="text" name="name" value="New Location">
                <input type="submit" value="Add New">
            </form>
     
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>