<%- include('../partials/boilerplate') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
    <main class="main">
        <div class="section-title">New Card</div>
        <div class="main-content">
            <form action="/library/add/<%= `${user.id}` %>" method="POST">
                DVD Name:<input type="text" name="name"><br>
                Year of Release:<input type="text" name="year"><br>
                IMDB ID#:<input type="text" name="imdbnum"><br>
                Location:<select name="location_id">
                    <% for (let i = 0; i < locations.length; i++) { %>
                        <option value="<%= locations[i].id%>"><%= locations[i].name %></option>
                    <% } %>
                </select><br>
                <input type="submit" name="" id="" value="Add" class="myButton">
            </form>
            <div>
                <p>IMDB ID# is required to pull additional movie info. It can be obtained from <a href="https://www.imdb.com/" target="_blank">www.IMDB.com</a> URL. <br>
                For example in https://www.imdb.com/title/tt4189022/, tt4189022 is the ID#. </p>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>