<%- include('../partials/boilerplate') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
    <main class="main">
        <div class="section-title">New Card</div>
        <div class="main-content">
            <form action="/library/add/<%= `${user.id}` %>" method="POST">
                DVD Name:<input type="text" name="name">
                Year of Release:<input type="text" name="year">
                IMDB ID#:<input type="text" name="imdbnum">
                Location:<select name="location_id">
                    <% for (let i = 0; i < locations.length; i++) { %>
                        <option value="<%= locations[i].id%>"><%= locations[i].name %></option>
                    <% } %>
                </select>
                <input type="submit" name="" id="" value="Add">
            </form>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>