<%- include('../partials/boilerplate') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
    <main class="main">
        <div class="section-title">Edit User</div>
        <div class="main-content"> 
            Change Password:
            <form action="/users/edit/<%= `${user.id}` %>" method="POST">
                <input type="password" name="password" id="">
                <input type="submit" name="" id="">
            </form>

        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>